<div class="schedule-grid">
  <div class="time-column">
    <% (8..18).each do |hour| %> <!-- Display hours from 8 AM to 6 PM -->
      <div class="time-slot"><%= "#{hour}:00" %></div>
    <% end %>
  </div>
  <%= javascript_include_tag "schedule_grid", "data-turbo-track": "reload" %>

  <% @technicians.each do |technician| %>
    <div class="technician-column">

      <div class="technician-header"><%= technician.name %></div>
      <% (8..18).each do |hour| %>
        <div 
          class="open-space" 
          data-technician-id="<%= technician.id %>" 
          data-hour="<%= hour %>"
        ></div>
      <% end %>

      <% technician.work_orders.each do |work_order| %>
        <div 
          class="work-order"
          style="top: <%= (work_order.time.hour - 8) * 60 + work_order.time.min %>px; 
                 height: <%= work_order.duration %>px;"
        >
          <strong><%= work_order.location.name %></strong>
          <p><%= work_order.location.city %></p>
          <p>Start: <%= work_order.time.strftime('%H:%M') %></p>
          <p>Price: $<%= work_order.price %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

